*{
    margin:0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #CBDDD1;
    color: #2D440C;
}

/*********************** Header section with Nav Bar ***************************************/
#header{
    width: 100%;
    /*height: 100vh;*/
    /*background-image: url(backgroud_image.jpg);*/
    /*background-size: cover;*/
    /*background-position: center;*/
}

.home-col-1{
    padding-top: 20px;
    flex-basis: 45%;
}

.home-col-1 img{
    width: 100%;
    border-radius:0%; 
}

.home-col-2{
    flex-basis:52%;
}

#header_img img{
    width: 80%;
    border-radius: 0%;
}

.container{
    padding: 20px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}

nav ul li a{
    color: #2D440C;
    text-decoration: none; 
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #E8FDED;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 100px;
    font-size: 30px;
    color: black;
}

.header-text h1{
    font-size: 20px;
    margin-top: 10%;
    line-height: 170%;
    color: #827F7F
}

.header-text h1 span{
    color: #2D440C
}

/* ************************** About Section ********************************** */

#about{
    color: black;
    line-height: 150%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 40%;
}

.about-col-1 img{
    width:80%;
    border-radius:0%; 
}

.about-col-2{
    flex-basis:50%;
}

.sub-title{
    font-size: 40px;
    font-weight: 600;
    color: #2D440C;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px; 
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #E8FDED;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

/* color title diffterent than description*/
.tab-contents ul li span{
    color: #2D440C;
    font-size: 14px;
}

/* hide all content */
.tab-contents{
    display: none;
}
/* display only skills  */
.tab-contents.active-tab{
    display: block;
}

/* ---------------------------  ABOUT SLIDESHOW -------------------------------  */

/* Slideshow container */
.slideshow-container {
    width: 50%;
    border-radius:20%; 
    position: absolute;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position:absolute;
    top: 60%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 60%;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }


/* ----------Services---------  */

#services{
    padding:30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: beige;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s; 
}

.services-list div i{
    font-size:50px;
    margin-bottom:30px;
}

.services-list div h2{
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin-bottom:15px;
}

.services-list div a{
    text-decoration:none;
    color:black;
    font-size:12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
background: #ff004f;

}


/* -----------portfolio---------- */

#portfolio{
    padding: 50px,0;
}

.work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}

.work-list h3,p{
    color: black;
}

.work{
    border-radius: 10px;
    position:relative;
    overflow:hidden;
}

.work img{
    width:100%;
    border-radius:10px;
    display:block;
    transition: transform 0.5s; /*img zooms in when you hover */
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(#2D440C,#E8FDED);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: purple;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align:center;
}

/* to make img zoom in when you hover  */
.work:hover img{
    transform:scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #03240b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:#03240b;
    transition: background 0.5s;
}
.btn:hover{
    background: #2D440C;
}

/* ---------------contact-------------- */

.contact-left{
    flex-basis:35%;
}

.contact-right{
    flex-basis:60%;   
}

.contact-left p{
    margin: top 30px;
    line-height: 200%;
}

.contact-left p i{
    color: #2D440C;
    margin-right: 15px; 
    font-size: 25px;
} 

.social-icons{
    margin-top:30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#E8FDED;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #E8FDED;
    transform: translateY(-5px)
}

.btn.btn2{
    display: inline-block;
    background: #E8FDED;
}

.contact-right form{
    width: 100%;

}
form input, form textarea{
    width:100%;
    border: 0;
    outline: none;
    background: #E8FDED;
    padding: 15px;
    margin: 15px 0;
    color: black;
    font-size: 18px;
    border-radius:6px;
}
form .btn2{
    padding: 14px 16px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* ---------------css for small screen-------- */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px){
    #header{
        background-image: url("");  
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size:25px;
    }
    nav ul{
        background:#E8FDED;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh; 
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
}
#msg{
    color:#E8FDED;
    margin-top: -40px;
    display: block;
}

/* ---------------------------- machine learning ----------------------------------- */

#Project_description{
    color: black;
    line-height: 150%;
    
}
.title{
    color: #2D440C;
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ML-col-1{
    flex-basis: 60%;
}

.ML-col-2{
    flex-basis:40%;
}

.ML-col-2 img{
    width: 140%;
}

.ML-sub-title{
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.ML-sub-title p{
    font-size: 15px;
    font-weight: 600;
    color: black;
}

.layout{
    flex-basis: 60%;
    margin-left: 120px;
}


.layout img{
    width: 100%; 
    
}

.layout-description{
    flex-basis: 20%;
}

.layout-description p{
        font-size: 15px;
        color: black;
        margin-right: 20px;
        margin-top: 100px;
}

.Data-col-1{
    flex-basis: 30%;
}
.Data-col-1 p{
    color: black;
}

.Data-col-2{
    flex-basis: 30%;
}
  
.Data-col-2 img{
    width: 90%;
    margin-top: 80px;
    margin-left: 50px;
}

.Data-col-3{
    flex-basis: 35%;
}

.Data-col-3 img{
    width: 100%;
    margin-top: 80px;
    margin-left: 50px;
}

.Preprocessing-col-1{
    flex-basis: 50%;
}

.Preprocessing-col-1 img{
    width: 80%;
}

.Preprocessing-col-2{
    margin-top: 80px;
    flex-basis: 50%;
}

.Preprocessing-col-2 img{
    width: 80%
}

.Preprocessing-col-2 p span{
    color:#ff004f;
} 

.Feature-col-1{
    flex-basis: 40%;
}

.Feature-col-2{
    flex-basis: 60%; 
}

.Feature-col-1 p span{
    color:#ff004f
}

.Feature-col-2 img{
    width: 80%; 
    margin-left: 100px; 
}

.PCA-col-1{
    flex-basis: 50%
}

.PCA-col-2 p span{
    color: #ff004f;
}

.PCA-col-2{
    margin-top: 8%;
    flex-basis: 50%;
}

.PCA-col-1 img{
    width: 60%;
}

.Results-col-1{
    flex-basis: 50%
}

.Results-col-1 p span{
    color: #ff004f;
}

.Results-col-2{
    flex-basis: 50%
}

.Results-col-2 img{
    margin-left: 70px;
    width: 100%
}

.btn-col-1{
    flex-basis: 30%
}

.btn-col-2{
    flex-basis: 30%
}

.btn-col-3{
    flex-basis: 30%
}

/* ---------------------------- robotics ----------------------------------- */

.T4-col-1{
    flex-basis: 40%; 
    margin-top: 80px;
}

.T4-col-2{
    flex-basis: 50%;
    margin-top: 80px;
}

.T4-col-2 img{
    margin-left: 80px;
    width: 80%;
}

.Romi-col-1{
    flex-basis:40%;
}

.Romi-col-2{
    margin-top: 80px;
    flex-basis: 40%;
}

.Romi-col-2 img{
    width:80%;
}

.UR-col-1{
    flex-basis: 40%;
}

.UR-col-2{
    flex-basis: 50%;
}

.UR-col-2 img{
    width: 80%;
}

/* ---------------------------- robotics slideshow ----------------------------------- */

.row2 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column2 {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column2 img {
    margin-top: 8px;
    vertical-align: middle;
  }

  /* ------------------------------------ CAD -------------------------------------- */

  .CAD-col-1{
    flex-basis: 50%;
  }
  .CAD-col-2{
    flex-basis: 40%;
  }
  .CAD-col-2 img{
    margin-top: 120px;
    width: 100%; 
  }

  /* ------------------------------------ CAD slideshow -------------------------------------- */

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container2 {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text2 {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

 /* ------------------------------------ NLP -------------------------------------- */

 .NLP-col-1{
    flex-basis: 40%;
 }

 .NLP-col-2{
    flex-basis: 50%;
 }

 .NLP-col-2 img{
    width: 100%;
    margin-top: 40px;
 }

  /* ------------------------------------ MATH SYMBOLS -------------------------------------- */

  .math-col-1{
    flex-basis: 50%;
  }

  .math-col-2{
    flex-basis: 50%;
  }

  .math-col-2 img{
    width:100%;
    margin-left: 40px;
  }

  /* ------------------------------------ Boat -------------------------------------- */

  .boat-col-1{
    flex-basis: 40%;
  }

  .boat-col-2{
    flex-basis: 40%;
  }

  .boat-col-2 img{
    width:100%;
  }